@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura";
  src: url("https://fonts.cdnfonts.com/css/futura-pt") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("https://fonts.cdnfonts.com/css/futura-pt") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Futura", sans-serif;
}

.gradient-bg {
  background: linear-gradient(135deg, #800000 0%, #f7a306 100%);
}

